*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    background-color: #191825;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    height: 20rem;
    width: 20rem;
    background-color: #865ddf;
    border-radius: 50%;
    position: relative;
    animation: loading 1s linear infinite;
}
.loader::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 17rem;
    width: 17rem;
    background-color: #191825;
    border-radius: 50%;

}
.loader::after{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 8.5rem;
    background-color: #865ddf;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 16px 12px #865ddf;
}
@keyframes loading{
    from{
        rotate: 0deg;
    }
    to{
        rotate: -360deg;
    }
}